/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 15rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body{
  background: #291720;
  font-family: "Helvetica Neue",Helvetica,Arial;
}

.header{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  margin: 1rem 0;
  height: 2rem;
  width: 15rem;
  border: 1px solid #291720;
  border-radius: 1rem;
  text-indent: 10px; 
}
input:hover{
  cursor: pointer;
  border:1px solid #EADAA2;
  box-shadow: 0 0 3px  #EADAA2;
}

input:focus{
  border: 0px solid;
}



button {
  width: 55%;
  height: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: #EADAA2;
  color: #E40066;
  border-radius: 1rem;
}

.btn:hover{
  cursor: pointer;
  transform: scale(.95);
}


h1{
  color: #E40066;
  font-size: 2rem;
}

/* -------Click Events------- */

.list{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.drinks{
  display: block;
  height: 28.5rem;
  border: 1px solid #1bcaff;
  border-radius: 10px;
  padding-right: 1rem;
  margin: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


/* Scroll Bar */
ul::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px gray;
  border-radius: 8px;
  margin-block: .06rem;
}
::-webkit-scrollbar-thumb {
  background: hsla(333, 100%, 60%, 0.361);
  border: 1px solid rgba(128, 128, 128, 0.472);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
  background:#e40067b4;
  box-shadow:inset 0 0 10px rgba(128, 128, 128, 0.708);
}
/* End Of Scroll Bar */



#drinkList{
  cursor: pointer;
  color: #EADAA2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drinkListImg{
  width: 3rem;
  height: 3rem;
  margin: 0 .5rem;
}

a:hover{
  color: #E40066;
}

#drinkList{
  width: 15rem;
  padding: .5rem 1rem;
  margin: 1rem;
  list-style-type: none;
  border: 1px solid #1bcaff;
}

#drinkList:hover{
  color: #ebe4cd;
}


ul{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

li{
  border-radius: 1rem;
  list-style-type: none;
}


#selectedDrinkTitle{
  color: #EADAA2;
}

#selectedDrink{
  text-align: center;
  padding: 1rem ;
   margin-left: 5rem; 
  max-width: 40rem;
  border: 1px solid #1bcaff;
}


p{
  color: #EADAA2;
  padding: 1rem;
  width: 30rem;
  text-align:center;
}








